body, html { /* altura do html em 100% permitirá o body acompanhar */
    height: 100%;
    margin: 0;
    font: 400 16px/1.8 "Lato", sans-serif; /* lembre que isso é shorthand */
    color: rgb(49, 49, 49);
    scroll-behavior: smooth; /* suavização da rolagem da página */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin-bottom: unset;
    padding-bottom: 20px;
}

.border{
    border: unset!important;
}

@media screen and (max-width: 768px) {
    #menu {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .navigation {
        display: none;
    }
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 10%;
    bottom: 0;
    z-index: 100000;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-image: none;
}

.cabecalho {
    width: 100%;
    height: 94px;
    position: absolute;
    float: left;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.671), rgba(255, 255, 255, 0.48));
    border-width: 15%;
    z-index: 1000000;
    top: 0; /* -50px; */
    opacity: 100%; /* 0; */
    padding-right: 62px;
}

#logo {
    width: 149px;
    float: left;
    /* background-color: black; */
    border-radius: 50%; /* cantos arredondados - elipse quando aplicado 50% a um quadrado */
    /*box-shadow: #212a4f; */
    border-width: 1px;
    /* border-bottom-style: solid; */
    border-color: #6e6e6e;
    margin: 1%;
    /* margin-left: -164px; */
    z-index: 10010;
    position: absolute;
    left: 4.1%;
    top: 0%;
}

@media screen and (min-width: 769px) {
    .social {
        display: block;
        float: right;
        position: absolute;
        width: 100%;
        top: 74px;
        right: 90px;
        z-index: 150000;
        max-width: 77px;
    }

    .social #social_facebook {
        display: block;
        float: right;
        height: 15px;
    }

    .social #social_instagram, #social_linkedin {
        display: block;
        float: right;
        margin-right: 7px;
        height: 15px;
    }

    .social #social_facebook, #social_instagram, #social_linkedin {
        opacity: 0.6;
    }
}

@media screen and (max-width: 768px) {

    .social {
        display: block;
        float: right;
        position: absolute;
        width: 100%;
        top: 65px;
        right: 50px;
        z-index: 150000;
        max-width: 77px;
    }

    .social #social_facebook {
        display: block;
        float: right;
        height: 20px;
    }

    .social #social_instagram, #social_linkedin {
        display: block;
        float: right;
        margin-right: 7px;
        height: 20px;
    }

    .social #social_facebook, #social_instagram, #social_linkedin {
        opacity: 0.6;
    }
}

#social_facebook:hover, #social_instagram:hover, #social_linkedin:hover {
    background-color: #e66c898e;
    border-radius: 30%;
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: .1s;
    opacity: 0.8;
    /*margin-top: -5px;*/
}

.slider {
    width: 100%;
    position: relative;
    background-color: rgb(0, 0, 0);
    display: inline-block;
}

.carousel-inner img{
    width: 100%;
    position: relative;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 330px;
    background-position: center;
}

.carousel.pointer-event {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.TitBox a {
    text-decoration: none;
}

@media screen and (min-width: 599px) {
    .TitBox {
        width: 100%;
        top: 40%;
        position: absolute;
        z-index: 100000000;
        padding-left: 10%;
    }
}

@media screen and (max-width: 600px) {
    .TitBox {
        width: 100%;
        top: 45%;
        position: absolute;
        z-index: 100000000;
        padding-left: 10%;
    }
}
@media screen and (min-width: 599px) {
    .TitBox span.border{
        z-index: 10020;
        color: black;
        font-size: 230%;
        letter-spacing: 6px;
    }
    
    .TitBox span.border2{
        color: black;
        letter-spacing: 6px;
        position: relative;
        font-size: 100%;
    }
    
    .TitBox span.border3{
        color: #f79774;
        letter-spacing: 6px;
        position: relative;
        font-size: 122%;
    }
}

@media screen and (max-width: 600px) {
    .TitBox span.border{
        z-index: 10020;
        color: black;
        font-size: 100%;
        letter-spacing: 6px;
    }
    
    .TitBox span.border2{
        color: black;
        letter-spacing: 6px;
        position: relative;
        font-size: 70%;
    }
    
    .TitBox span.border3{
        color: #f79774;
        letter-spacing: 6px;
        position: relative;
        font-size: 80%;
    }
}

.cabecalho nav ul{
    list-style: none;
    height: 100%;
    margin: 0px;
}

#menu ul a{
    float: right; 
    width: 74px; 
    display: block; /* transforma o <a> de linha para bloco */
    height: 100%;
    text-align: center;
    text-decoration: none; 
    transition-property: background-color;
    color: #6e6e6e;
    border-top: 70%;
    position: relative;
    margin-top: 73px;
    right: 90px;
    right: 90px;
    font-size: 12px;
    margin-left: 10px;
}

#menu ul a:hover{
    text-decoration: none;
    font-weight: lighter;
    transition-property: background-color;
    transition-duration: 1s;
    transition-delay: .1s;
    background-color: #69c2a942;
    border-radius: 5%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.021), rgba(0, 0, 0, 0.040), rgba(0, 0, 0, 0.021));
}

/* **************** Menu mobile **************** */

#menuToggle {
    display: block;
    position: relative;
    top: 65px;
    left: 62px;
    float: right;
    z-index: 1000000;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: #6e6e6e;
    font-weight: lighter;
}


#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

/* Just a quick hamburger */
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #69c2a9;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #rgb(217, 144, 17);
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
 #menu_mobile {
    /* position: absolute; */
    /*height: 185px;*/
    margin: -130px 0 0 -100px;
    padding-right: 15px;
    padding-top: 138px;
    /* background: rgba(177, 177, 177, 0.678); */
    background-color: #69c2a942;
    /*background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.021), rgba(0, 0, 0, 0.040), rgba(0, 0, 0, 0.021));*/
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(0, -100%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    padding-left: 36px;
    overflow: hidden;
}

#menuToggle li {
    padding: 5px 0;
    text-align: right;
    font: 400 15px/1.8 "Lato", sans-serif;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
    transform: none;
}

.sobre{
    width: 100%;
    height: 650px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    background-image: url("../img/img_sobre_logo.jpg");
    background-repeat: no-repeat; /* Por padrão, a imagem se repete em x e y. Selecionado para não repetir. */
    background-size: cover; /* Dá cobertura no fundo pela maior dimensão sem distorcer a imagem. */
    background-position: right; /* usado uma ver, centraliza na horizontal e vertical (x e y) */
    background-attachment: fixed;
}

@media screen and (min-width: 829px) {
    #box_sobre {
        width: 35%;
        max-height: 570px; 
        background-color: rgba(255, 255, 255, 0.7);
        padding: 1%;
        margin-left: 20%;
        margin-top: 6%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
}

@media screen and (max-width: 830px) {
    #box_sobre {
        width: 46%;
        max-height: 575px;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 1%;
        margin-left: 8%;
        margin-top: 6%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
}

@media screen and (max-width: 640px) {
    #box_sobre {
        width: 85%;
        max-height: 575px;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 1%;
        margin-left: 8%;
        margin-top: 6%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
}

#box_sobre p {
    color: rgb(0, 0, 0);
}

h1 {
    font-size: 2.0rem;
    letter-spacing: 6px;
}

.servicos{
    width: 100%;
    height: 625px;
    position: relative;
    background-color: rgb(255, 255, 255);
    background-image: url("../img/img_servicos.jpg");
    background-repeat: no-repeat; /* Por padrão, a imagem se repete em x e y. Selecionado para não repetir. */
    background-size: cover; /* Dá cobertura no fundo pela maior dimensão sem distorcer a imagem. */
    background-position: top; /* usado uma ver, centraliza na horizontal e vertical (x e y) */
    background-attachment: fixed;
    top: 650px;
    display: flex;
    align-content: center;
    padding-top: 95px;
    overflow: scroll;
}

.servicos h1, p {
    color: white;   
}

.servicos h3 {
    color: #e9ac8f;
    font-size: 18px;
}

.servicos p {
    margin-top: 0;
    font-size: 16px;
}

.servicos h1 {
    font-size: 2.0rem;
    letter-spacing: 6px;
    float: left;
    z-index: 100000;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 30px;
}

@media screen and (min-width: 401px) {
    .h2_arquitetura {
        font-size: 18px;
        letter-spacing: 5px;
        float: left;
        z-index: 100000;
        width: 100%;
        position: absolute;
        text-align: center;
        color: #e9ac8f;
        top: 75px;
    }
}
@media screen and (max-width: 400px) {
    .h2_arquitetura {
        font-size: 18px;
        letter-spacing: 5px;
        float: left;
        z-index: 100000;
        width: 100%;
        position: absolute;
        text-align: center;
        color: #e9ac8f;
        top: 104px;
    }
}

@media screen and (max-width: 301px) {
    .h2_arquitetura {
        font-size: 18px;
        letter-spacing: 5px;
        float: left;
        z-index: 100000;
        width: 100%;
        position: absolute;
        text-align: center;
        color: #e9ac8f;
        top: 105px;
    }
}

.h2_construcao, .h2_prefeitura, .h2_consultoria, .h2_3d {
    font-size: 16px;
    letter-spacing: 6px;
    float: left;
    z-index: 100000;
    width: 100%;
    position: relative;
    text-align: center;
    color: #e9ac8f;
    top: 45px;
}

@media screen and (min-width: 401px) {
    #box_servicos1, #box_servicos2, #box_servicos3, #box_servicos4, #box_servicos5, #box_servicos6, #box_servicos7, #box_servicos8, #box_servicos9, #box_servicos10, #box_servicos11, #box_servicos12, #box_servicos13, #box_servicos14  {
        width: 92%;
        background-color: rgba(0, 0, 0, 0.856);
        padding: 2.25%;
        /* margin: 3.25%; */
        float: left;
        margin-top: 20px;
        /* height: 525px; */
        margin-left: 4%;
        margin-right: 4%;
    }
}
@media screen and (max-width: 400px) {
    #box_servicos1, #box_servicos2, #box_servicos3, #box_servicos4, #box_servicos5, #box_servicos6, #box_servicos7, #box_servicos8, #box_servicos9, #box_servicos10, #box_servicos11, #box_servicos12, #box_servicos13, #box_servicos14  {
        width: 92%;
        background-color: rgba(0, 0, 0, 0.856);
        padding: 2.25%;
        /* margin: 3.25%; */
        float: left;
        margin-top: 50px;
        /* height: 525px; */
        margin-left: 4%;
        margin-right: 4%;
    }
}

@media screen and (max-width: 301px) {
    #box_servicos1, #box_servicos2, #box_servicos3, #box_servicos4, #box_servicos5, #box_servicos6, #box_servicos7, #box_servicos8, #box_servicos9, #box_servicos10, #box_servicos11, #box_servicos12, #box_servicos13, #box_servicos14  {
        width: 92%;
        background-color: rgba(0, 0, 0, 0.856);
        padding: 2.25%;
        /* margin: 3.25%; */
        float: left;
        margin-top: 70px;
        /* height: 525px; */
        margin-left: 4%;
        margin-right: 4%;
    }
}
#box_servicos_botton {
    width: 92%;
    height: 20px;
    padding: 2.25%;
    float: left;
    margin-top: 20px;
    margin-left: 4%;
    margin-right: 4%;
}

/* Primeiros boxes de cada seção */
#box_servicos4, #box_servicos6, #box_servicos12, #box_servicos14 {
    margin-top: 50px;
}

#bottomflag a{
    content: "\0040"; /* caractere especial em CSS */
    z-index: 100000; /* manter o botÃ£ozinho sempre acima dos outros elementos */
    color: rgb(0, 0, 0);
    text-align: center;
    position: fixed;
    /* cuidado com alocaÃ§Ãµes concorrentes top x bottom e left x right */
    bottom: 5px; /* posiÃ§Ã£o a partir de baixo (nÃ£o use top neste caso) */
    right: 5px; /* posiÃ§Ã£o a partir da direita (nÃ£o use left neste caso) */
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%; /* farÃ¡ o box ficar circular */
    background: #e9ac8fbf;
    text-decoration: none;
    font-size: 1.3em;
}

/* PORTFOLIO IMAGENS */

.inner-width.border {
    position: absolute;
}
.gallery-section{
    width: 100%;
    padding: 60px 0;
    background: #f1f1f1;
    position: relative;
    top: 635px;
}

.inner-width{

    padding-top: 0px;
}
  
.gallery-section h1{
    font-size: 2.0rem;
    letter-spacing: 6px;
    /* float: left; */
    /* z-index: 100000; */
    width: 100%;
    position: relative;
    text-align: center;
    /* top: 50px; */
    text-align: center;
    /*text-transform: uppercase;*/
    color: #69c2a9;
    padding-top: 25px;
    /*padding-bottom: 15px;*/
}

.gallery-section h2{
    /*font-size: 1.3rem;*/
    font-size: 16px;
    letter-spacing: 6px;
    /* float: left; */
    /* z-index: 100000; */
    width: 100%;
    position: relative;
    text-align: center;
    /* top: 50px; */
    text-align: center;
    /*text-transform: uppercase;*/
    color: #343a40;
    padding-top: 20px;
    /* padding-bottom: 2px; */
}
  
.gallery-section .gallery{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}
  
.gallery-section .image{
    flex: 25%;
    overflow: hidden;
    cursor: pointer;
}
  
.gallery-section .image img{
    width: 100%;
    height: 100%;
    transition: 0.4s;
}
  
.gallery-section .image:hover img{
    transform: scale(1.4) rotate(15deg);
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
    z-index: 1000000!important;
}
  
@media screen and (max-width:960px) {
    .gallery-section .image{
    flex: 33.33%;
    }
}
  
@media screen and (max-width:768px) {
    .gallery-section .image{
    flex: 50%;
    }
}
  
@media screen and (max-width:480px) {
    .gallery-section .image{
    flex: 100%;
    }
}

/* VIDEOS */

.gallery-section{
    width: 100%;
    padding: 10px 0;
    background: #f1f1f1;
    position: relative;
    top: 635px;
}

  
.galleryvideo h1{
    font-size: 2.0rem;
    letter-spacing: 6px;
    float: left;
    z-index: 100000;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50px;

    text-align: center;
    /*text-transform: uppercase;*/
    color: #69c2a9;
}
  
.gallery-section .galleryvideo{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}
  
.gallery-section .video{
    flex: 25%;
    overflow: hidden;
    cursor: pointer;
}

.gallery-section .video video{
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.gallery-section .video:hover video{
    transform: scale(1.4) rotate(15deg);
}

.mfp-wrap {  /* ????????????????? */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
    z-index: 1000000!important;
}
  
@media screen and (max-width:960px) {
    .gallery-section .video{
    flex: 33.33%;
    }
}
  
@media screen and (max-width:768px) {
    .gallery-section .video{
    flex: 50%;
    }
}
  
@media screen and (max-width:480px) {
    .gallery-section .video{
    flex: 100%;
    }
}

.equipe{
    width: 100%;
    /* height: 650px; */
    position: relative;
    background-color: rgb(255, 255, 255);
    background-image: url("../img/fundo_equipe.jpg");
    background-repeat: no-repeat; /* Por padrÃ£o, a imagem se repete em x e y. Selecionado para nÃ£o repetir. */
    background-size: cover; /* DÃ¡ cobertura no fundo pela maior dimensÃ£o sem distorcer a imagem. */
    background-position: top; /* usado uma ver, centraliza na horizontal e vertical (x e y) */
    background-attachment: fixed;
    top: 624px;
}

#box_equipe {
    width: 100%;
    /* height: 320px; */
    background-color: rgba(255, 255, 255, 0.7);
    padding: 4%;
    /* margin-right: 5%; */
    /* margin-top: 3%; */
    /* padding-top: 5%; */
    /* padding-bottom: 5%; */
    /* float: right; */
    margin-top: 2%;
    margin-bottom: 5%;
}

#box_equipe p {
    color: rgb(0, 0, 0);
}

#equipe_foto img {
    width: 100%;
    /* float: left; */
    /* margin-left: 10%; */
    margin-top: 2%;
    margin-bottom: 5%;
}

.equipe h1{
    font-size: 2.0rem;
    letter-spacing: 6px;
    width: 100%;
    position: relative;
    text-align: center;
    text-align: center;
    color: #e9ac8f;
    padding-top: 30px;
    margin-bottom: 15px;
}

.contato{
    width: 100%;
    position: relative;
    background-color: rgb(0, 0, 0);
    background-image: url("../img/img_contato.jpg");
    background-repeat: no-repeat; /* Por padrÃ£o, a imagem se repete em x e y. Selecionado para nÃ£o repetir. */
    background-size: cover; /* DÃ¡ cobertura no fundo pela maior dimensÃ£o sem distorcer a imagem. */
    top: 624px;
    text-align: center;
}

.contato h1{
    font-size: 2.0rem;
    letter-spacing: 6px;
    width: 100%;
    position: relative;
    text-align: center;
    /*color: #e9ac8f;*/
    color: #ffffff;
    padding-top: 60px;
    margin-bottom: 45px;
}

.soc li {
    display: inline-block;
    margin: 6px;
    margin: 1rem;
  }
  .soc a, .soc svg {
    display: block;
  }

@media screen and (min-width:375px) {
    .soc a {
        position: relative;
        height: 20px;
        height: 5rem;
        width: 20px;
        width: 5rem;
    }
}
@media screen and (max-width:374px) {
    .soc a {
        position: relative;
        height: 20px;
        height: 4rem;
        width: 20px;
        width: 3rem;
    }
}
  ul.soc {
    margin-bottom: 3rem;
  }
  .soc svg {
    height: 100%;
    width: 100%;
  }
  .soc em {
    font-size: 14px;
    line-height: 1.5;
    margin-top: -0.75em;
    position: absolute;
    text-align: center;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .icon-1:hover, .icon-2:hover, .icon-3:hover {
    border-radius: 100%;
    color: #ffffff;
    fill: #ffffff;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    -webkit-transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  }
  
  .icon-1 {
    color: #ffffff;
    fill: #ffffff;
  }
  .icon-1:hover {
    background: #e9ac8f;
  }
  
  .icon-2 {
    color: #ffffff;
    fill: #ffffff;
  }
  .icon-2:hover {
    background: #e9ac8f;
  }
  
  .icon-3 {
    color: #ffffff;
    fill: #ffffff;
  }
  .icon-3:hover {
    background: #e9ac8f;
  }

.col {
    color: #ffffff;
    padding-left: 50px;
    padding-right: 50px;
}

.col h3 {
    font-size: 15px;
    color: #e9ac8f;
    text-align: left;
}

.col p {
    font-size: 15px;
    color: #ffffff;
    text-align: left;
    max-width: 124px;
}

#logo_footer img {
    width: 112px;
    margin-bottom: 20px;
}

.row {
    margin-right: 30px!important;
}
@media screen and (max-width:575px) {
    .row {
        margin-left: 30px!important;
    }
}
#copy p {
    margin-top: 45px;
    font-size: 65%;
}

@media screen and (max-width:719px) {
    .col p {
        font-size: 15px;
        color: #ffffff;
        /* text-align: left; */
        max-width: 274px;
    }
    .col {
        color: #ffffff;
        padding-left: 50px;
    }
    .row {
        margin-right: 30px!important;
        text-align: -webkit-center;
        display: contents;
    }
    .col h3 {
        font-size: 15px;
        color: #e9ac8f;
        text-align: center;
    }    
}
